@import "tailwindcss";
@source "../**/*.blade.php";
@source "../js/**/*.js";
@source "../js/**/*.vue";
/* demais imports/customizações */


/* aqui embaixo você pode ter css custom */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
